body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  font-family: Arial, Helvetica, sans-serif;
  /* min-width: 320px;
  min-height: 100vh; */
}

.nav-heading{
  margin: 0;
  display: flex;
  justify-content: center;
  color: white;
  /* min-height: 100vh; */
  background-color: #F55A5A;
}

.nav-heading > p{
  margin-left: 3px;
}

.component{
  display: flex;
  justify-content: center;
  
}

img{
  margin: 30px 30px 0px 0px;
  width: 200px;
  height: 260px;
  border-radius: 5%;
}

.info{
  margin: 50px 30px 0px 0px;
}

.location > svg{
  margin: 2px 2px -4px 0px;
}

.location > a{
  color: rgb(36, 35, 35);
  margin-left: 12px;
  font-size: small;
}

hr{
  width: 750px;
}

.description{
  width: 550px;
}